容器序列 list tuple collection.deque

扁平序列 str bytes bytearray memoryview array.array

容器序列 存放的是它们任意类型的对象引用，扁平序列里面存放的是值而不是引用

序列类型区分

可变序列：list bytearray array.array memoryview collections.deque

不可变序列：tuple str bytes

列表推导和生成器表达式

In [17]:
import array
import os
import collections

In [18]:
symbols = '&*&%^%*()'
codes = []
for s in symbols:
    codes.append(ord(s))
print(codes)
# [38, 42, 42, 37, 37, 37, 42, 42, 40, 41]
# 生成器表达式
codes = [ord(s) for s in symbols]
print(codes)

[38, 42, 38, 37, 94, 37, 42, 40, 41]
[38, 42, 38, 37, 94, 37, 42, 40, 41]

列表推导式不会存在变量泄露

In [19]:
x = 'ABC'
dummy = [ord(x) for x in x]
x

'ABC'

In [20]:
dummy

[65, 66, 67]

In [21]:
beyond_ascii = [ord(s) for s in symbols if ord(s) > 40]
beyond_ascii

[42, 94, 42, 41]

In [22]:
beyond_ascii = list(filter(lambda c: c > 40, map(ord, symbols)))
beyond_ascii

[42, 94, 42, 41]

笛卡尔积

In [23]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for color in colors for size in sizes]
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [24]:
for c in colors:
    for s in sizes:
        print((c, s))

('black', 'S')
('black', 'M')
('black', 'L')
('white', 'S')
('white', 'M')
('white', 'L')

生成器表达式
生成器表达式背后遵守了迭代协议，可以产生元素,而不是先建立一个完整列表，节省内存

In [25]:
tuple(ord(s) for s in symbols)

(38, 42, 38, 37, 94, 37, 42, 40, 41)

In [26]:
sy = array.array('I',(ord(s) for s in symbols))

In [27]:
for i in sy:
    print(i)

38
42
38
37
94
37
42
40
41

In [28]:
for tshirts in ('%s %s' % (c,s) for c in colors for s in sizes):
    print(tshirts)

black S
black M
black L
white S
white M
white L

元组和记录
元组其实就是对数据的记录，如果把元组当作一些字段的集合那么数量和位置信息就变得非常重要了

In [29]:
lax_coordinates = (33.9425, -118.408056)

In [30]:
city, year,pop,chg,area = ('Tokyo', 2003, 32450, 0.66, 8014)

In [31]:
traveler_ids = [('USA','31195855'),('BRA','CE342567')]

In [32]:
_, filename = os.path.split('/home/luciano/.ssh/id_rsa.pub')
filename

'id_rsa.pub'

用 * 来处理剩下得元素

In [33]:
a,b, *rest = range(5)

In [34]:
a

0

In [35]:
rest

[2, 3, 4]

In [36]:
a,*body,c,d = range(10)

In [37]:
body

[1, 2, 3, 4, 5, 6, 7]

嵌套元组拆包

In [38]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

In [39]:
print('{:15} | {:9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:^9.4f}'
for name,cc,pop,(lat,long) in metro_areas:
    if long <= 0:
        print(fmt.format(name, lat, long))

                | lat.      |   long.
Mexico City     |   19.4333 | -99.1333
New York-Newark |   40.8086 | -74.0204
Sao Paulo       |  -23.5478 | -46.6358

具名元组

In [40]:
Card = collections.namedtuple('Card', ['rank', 'suit'])

In [41]:
Card

__main__.Card

In [42]:
from collections import namedtuple

City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))

In [43]:
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [44]:
tokyo.name

'Tokyo'

In [45]:
name,country,pop,coord = tokyo
print(name,country,pop,coord)

Tokyo JP 36.933 (35.689722, 139.691667)

In [46]:
City._fields

('name', 'country', 'population', 'coordinates')

In [48]:
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR','IN',21.935,LatLong(28.6139,77.209))

In [49]:
delhi = City._make(delhi_data)

In [50]:
delhi._asdict()

{'name': 'Delhi NCR',
 'country': 'IN',
 'population': 21.935,
 'coordinates': LatLong(lat=28.6139, long=77.209)}

In [51]:
for key,value in delhi._asdict().items():
    print(key,value)

name Delhi NCR
country IN
population 21.935
coordinates LatLong(lat=28.6139, long=77.209)